Repository Krivega/swarm-intelligence: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*src/**/*.{js,json}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*examples/**/*.{js,json}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.md": [
    "prettier --write"
  ]
}

chore(release): 1.0.1
  CHANGELOG.md
  package.json
Due: prettier --write

chore: update dependencies
  package.json
  yarn.lock
Due: none

style: configurator fixes
  demo/index.html
  demo/style.css
Due: none

style: configurator fixes
  srcDemo/drawer/index.js
Due: none

feat(demo): add preview info and graphs
  demo/img/griewank.png
  demo/img/paraboloid.png
  demo/img/rastrigin.png
  demo/img/rosenbrock.png
  demo/img/schwefel.png
  demo/index.html
  demo/style.css
  src/objectiveFunctions/griewank.js
  src/objectiveFunctions/paraboloid.js
  src/objectiveFunctions/rastrigin.js
  src/objectiveFunctions/rosenbrock.js
  src/objectiveFunctions/schwefel.js
Due: prettier --write, eslint --fix

feat(demo): add preview info and graphs
  srcDemo/index.js
  srcDemo/renderInfo.js
  srcDemo/swarmCreators/createConfig.js
Due: none

chore: update dependencies
  package.json
  src/Boid/__tests__/boid.js
  src/Boid/__tests__/computation.js
  src/Boid/index.js
  src/Swarm/__tests__/computation.js
  src/Swarm/__tests__/griewank.js
  src/Swarm/__tests__/paraboloid.js
  src/Swarm/__tests__/rastrigin.js
  src/Swarm/__tests__/rosenbrock.js
  src/Swarm/__tests__/schwefel.js
  src/Swarm/__tests__/swarm.js
  src/Swarm/computation.js
  src/Swarm/index.js
  src/__mocks__/index.js
  src/objectiveFunctions/griewank.js
  src/objectiveFunctions/paraboloid.js
  src/objectiveFunctions/rastrigin.js
  src/objectiveFunctions/rosenbrock.js
  src/objectiveFunctions/schwefel.js
  src/setupTests.js
  src/utils/computeArrays.js
  src/utils/getArrayWithRandomValues.js
  src/utils/multiplyArrayByNumber.js
  srcDemo/Configurator/index.js
  srcDemo/MousePosition/index.js
  srcDemo/ObjectiveFunctionMouseTracking/index.js
  srcDemo/canvas/index.js
  srcDemo/drawer/index.js
  srcDemo/renderInfo.js
  srcDemo/swarmCreators/createConfig.js
  srcDemo/swarmCreators/griewank.js
  srcDemo/swarmCreators/paraboloid.js
  srcDemo/swarmCreators/rastrigin.js
  srcDemo/swarmCreators/rosenbrock.js
  srcDemo/swarmCreators/schwefel.js
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): 1.1.0
  CHANGELOG.md
  package.json
Due: prettier --write

chore(release): 1.1.1
  CHANGELOG.md
  package.json
Due: prettier --write

docs: update README with library description, installation instructions, usage examples, and demo information
  README.md
Due: prettier --write

chore: update package.json and Vite configuration for improved linting and formatting
  package.json
  vite.config.ts
  yarn.lock
Due: none

chore: remove jest.config.js as part of project cleanup
  .gitignore
  jest.config.js
  jest.config.ts
Due: none

chore(release): 1.1.2
  CHANGELOG.md
  package.json
Due: prettier --write

fix: add offChange method for event handling
  src/render/ObjectiveFunctionMouseTracking.ts
Due: none

chore(release): 1.1.3
  CHANGELOG.md
  package.json
Due: prettier --write
